{% extends 'base.html' %}
{% load static %}
<!-- SELECCION DE PAGINA -->

{% block Select-Pagina %}
<li><a href="{% url 'inicio' %}">Inicio</a></li>

<!-- En caso de que el usuario no esté con su sesion activa, se mostraran las opciones de registrarse e iniciar sesion -->
{% if not user.is_authenticated %}

<li class="menu-selected"><a href="{% url 'login' %}" class="text-menu-selected">Login</a></li>

{% endif %}

<!--En caso de que el usuario esté con su sesión activa, se mostrará una opcion en la que muestra su nombre de usuario, y redirige a una ventana que muestra su perf-->
{% if user.is_authenticated %}

<li class="menu-selected"><a href="{% url 'agregar_producto' %}" class="text-menu-selected">Agregar producto</a></li>
<li><a href="{% url 'perfil' %}">{{user.username}}</a></li>
{% if user.fotoPerfil %}
<img src="{{ user.fotoPerfil.url }}" alt="imagen no encontrada" class="image-menu">
{% else %}
<img src="{% static 'image_default.png'%}" alt="imagen no encontrada" class="image-menu">
{% endif%}
<li><a href="{% url 'logout'%}">Cerrar sesion</a></li>
{% endif %}

{% endblock Select-Pagina %}

{% block content %}
        <!-- formulario de Agregar producto -->
<div class="container-x" id="move-content">
    <div class="container-all">
        <div class="container-registrar">
            <div class="ctn-form1">
                <img src="{% static 'img/mobike2.png' %}" alt="" class="logo-form1">
                <h2 class="title">Registro</h2>
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Nombre de Producto</label>
                        <input class="form-control" type="text" placeholder="Ingrese Nombre del Producto" name="nombre">
                        <div class="error"{{ form.errors.nombre}}></div> 
                        <br>
                    </div>
                    <div class="form-group">
                        <label>Precio</label>
                        <input class="form-control" type="text" placeholder="Ingrese precio" name="precio">
                        <div class="error"{{ form.errors.precio}}></div> 
                        <br>
                    </div>
                    <div class="form-group">
                        <label>Descripcion</label>
                        <input class="form-control" type="text" placeholder="Ingrese Descripcion" name="descripcion">
                        <div class="error"{{ form.errors.descripcion}}></div> 
                        <br>
                    </div>
                    <div class="form-group">
                        <label>Tipo de producto</label>
                        <select id="cat2" name="tipo_producto" required>
                            <option value="">Categoría</option>
                            <option value="1">VERDURA</option>
                            <option value="2">FRUTA</option>
                            <option value="3">CARNE</option>
                            <option value="4">CEREALES</option>
                            <option value="5">LIQUIDOS</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit">GRABAR</button>
                        <br>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>




{% endblock content %}