{% extends 'base.html' %}
{% load static %}

{% block Select-Pagina %}
<li ><a href="{% url 'inicio' %}" >Inicio</a></li>

<!-- En caso de que el usuario no esté con su sesion activa, se mostraran las opciones de registrarse e iniciar sesion -->
{% if not user.is_authenticated %}

<li class="menu-selected"><a href="{% url 'login' %}" class="text-menu-selected">Login</a></li>

{% endif %}

<!--En caso de que el usuario esté con su sesión activa, se mostrará una opcion en la que muestra su nombre de usuario, y redirige a una ventana que muestra su perf-->
{% if user.is_authenticated %}

{% if user.tipo_Usuario == "Cliente" %}
<li class="menu-selected"><a href="{% url 'mis_productos' %}" class="text-menu-selected">Mis producto</a></li>
{% endif %}
<li><a href="{% url 'perfil' %}">{{user.username}}</a></li>
{% if user.fotoPerfil %}
<img src="{{ user.fotoPerfil.url }}" alt="imagen no encontrada" class="image-menu">
{% else %}
<img src="{% static 'image_default.png'%}" alt="imagen no encontrada" class="image-menu">
{% endif%}
<li><a href="{% url 'logout'%}">Cerrar sesion</a></li>
{% endif %}

{% endblock Select-Pagina %}


{% block content %}

<div class="container-x" id="move-content">
    <div class="container-tabla-recorridos">
        <div class="container-recorridos">
            <h1>Mis Productos</h1>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Imagen</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Tipo producto</th>
                        <th>Editar</th>
                        <th>Borrar</th>
                    </tr>
                </thead>
                {% if productos %}
                {% for c in productos %}
                <tbody>
                    <tr>
                        <div clas="img_tabla">
                            <td><img src="{{ c.imagen.url }}" alt="no se encontro la imagen" width="50" height="50">
                            </td>
                        </div>
                        <td>{{ c.nombre }}</td>
                        <td>$ {{ c.precio }}</td>
                        <td>{{ c.tipo_producto }}</td>
                        <td><a href="{% url 'editar_producto' c.id %}" class="btn btn-primary"> Editar </a></td>
                        <td><a href="{% url 'borrar_producto' c.id %}" class="btn btn-danger" onclick=confirmation()> Borrar </a></td>
                    </tr>
                    <br>
                    {% endfor %}
                    {% else %}
                    <td>No hay registros de productos</td>
                    <td>No hay registros de productos</td>
                    <td>No hay registros de productos</td>
                    <td>No hay registros de productos</td>
                    {% endif %}
            </table>
        <a href="{% url 'agregar_producto' %}"><button>Agregar productos</button></a>
        </div>
    </div>
</div>
{% endblock content %}