{% extends 'base.html' %}
{% load static %}

{% block Select-Pagina %}
<li><a href="{% url 'inicio' %}">Inicio</a></li>
<li class="menu-selected"><a href="{% url 'lista_comunidades' %}" class="text-menu-selected">Comunidades</a></li>

<!-- En caso de que el usuario no esté con su sesion activa, se mostraran las opciones de registrarse e iniciar sesion -->
{% if not user.is_authenticated %}

<li><a href="{% url 'login' %}">Login</a></li>

{% endif %}

<!--En caso de que el usuario esté con su sesión activa, se mostrará una opcion en la que muestra su nombre de usuario, y redirige a una ventana que muestra su perf-->
{% if user.is_authenticated %}

{% if user.tipo_Usuario == "Vendedor" %}
<li><a href="{% url 'mis_productos' %}">Mis producto</a></li>
{% endif %}
{% if user.tipo_Usuario == "Cliente" %}
<li><a href="{% url 'lista_deseos' %}">Lista de deseos</a></li>
{% endif %}
<li><a href="{% url 'perfil' %}">{{user.username}}</a></li>
{% if user.fotoPerfil %}
<img src="{{ user.fotoPerfil.url }}" alt="imagen no encontrada" class="image-menu">
{% else %}
<img src="{% static 'image_default.png'%}" alt="imagen no encontrada" class="image-menu">
{% endif%}
<li><a href="{% url 'logout'%}">Cerrar sesion</a></li>
{% endif %}

{% endblock Select-Pagina %}


{% block content %}

<div class="container-x" id="move-content">
    <div class="container-tabla-recorridos">
        <div class="container-recorridos">
            <h1>Mis Productos</h1>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Nombre</th>
                        <Th>Creador de comunidad</Th>
                        <th>Ver Comunidad</th>
                        {% if lista %}
                        {% for c in lista %}
                        {% if user.username == c.creador%}
                        <th>Eliminar</th>
                        {% endif %}
                        {% endfor %}
                        {% endif %}

                    </tr>
                </thead>
                {% if lista %}
                {% for c in lista %}
                <tbody>
                    <tr>
                        <td>{{ c.nombre }}</td>
                        <td>{{ c.creador }}</td>
                        <td><a href="{% url 'editar_comunidad' c.id %}" class="btn btn-primary"> Ver comunidad </a></td>
                        {% if user.username == c.creador%}
                        <td><a href="{% url 'borrar_comunidad' c.id %}" class="btn btn-danger"
                                onclick="confirmation();"> Borrar </a></td>
                        {% endif %}

                    </tr>
                    <br>
                    {% endfor %}
                    {% else %}
                    <td>No hay registros de productos</td>
                    <td>No hay registros de productos</td>
                    <td>No hay registros de productos</td>
                    <td>No hay registros de productos</td>
                    {% endif %}
            </table>
            {% if user.is_authenticated %}
            <a href="{% url 'agregar_comunidad' %}"><button>Agregar Comunidad</button></a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}