{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="inicio">
    <h1>Te damos la bienvenida a nuestro sitio web</h1>
    <div class="ctn-bars-search">
        <input type="text" id="inputsearch" placeholder="¿Qué deseas buscar?">
    </div>
</div>

<div class="container-content">
    <input type="radio" id="TODOS" name="categorias" value="TODOS" checked>
    <input type="radio" id="VERDURA" name="categorias" value="VERDURA">
    <input type="radio" id="FRUTA" name="categorias" value="FRUTA">
    <input type="radio" id="CARNE" name="categorias" value="CARNE">
    <input type="radio" id="CEREALES" name="categorias" value="CEREALES">
    <input type="radio" id="LIQUIDOS" name="categorias" value="LIQUIDOS">
    <div class="container-categorias">
        <h2>Categorias:</h2>
        <label for="TODOS">TODOS</label>
        <label for="VERDURA">VERDURA</label>
        <label for="FRUTA">FRUTA</label>
        <label for="CARNE">CARNE</label>
        <label for="CEREALES">CEREALES</label>
        <label for="LIQUIDOS">LIQUIDOS</label>
    </div>
    <div class="container-productos">
        <div class="productos">
            {% for c in producto %}
            <div class="producto" data-category="{{c.tipo_producto}}">
                <div class="ctn-img">
                    <img src="{{c.imagen.url}}" alt="Imagen no encontrada">
                </div>
                <h2>{{c.precio}}</h2>
                <h3>{{c.nombre}}</h3>
                <span>{{c.descripcion}}</span>
                <ul class="ctn-tag">
                    <li>{{c.tipo_producto}}</li>
                </ul>
                <a href="{% url 'vista_producto' c.id %}"><button>Ver producto</button></a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock content %}