{% extends 'base.html' %}
{% load static %}
{% block Select-Pagina %}
<li ><a href="{% url 'inicio' %}" >Inicio</a></li>
<li><a href="{% url 'lista_comunidades' %}">Comunidades</a></li>

<!-- En caso de que el usuario no esté con su sesion activa, se mostraran las opciones de registrarse e iniciar sesion -->
{% if not user.is_authenticated %}

<li ><a href="{% url 'login' %}" >Login</a></li>

{% endif %}

<!--En caso de que el usuario esté con su sesión activa, se mostrará una opcion en la que muestra su nombre de usuario, y redirige a una ventana que muestra su perf-->
{% if user.is_authenticated %}

{% if user.tipo_Usuario == "Vendedor" %}
<li><a href="{% url 'mis_productos' %}">Mis producto</a></li>
{% endif %}
{% if user.tipo_Usuario == "Cliente" %}
<li class="menu-selected"><a href="{% url 'lista_deseos' %}" class="text-menu-selected">Lista de deseos</a></li>
{% endif %}
<li><a href="{% url 'perfil' %}">{{user.username}}</a></li>
{% if user.fotoPerfil %}
<img src="{{ user.fotoPerfil.url }}" alt="imagen no encontrada" class="image-menu">
{% else %}
<img src="{% static 'image_default.png'%}" alt="imagen no encontrada" class="image-menu">
{% endif%}
<li><a href="{% url 'logout'%}">Cerrar sesion</a></li>
{% endif %}

{% endblock Select-Pagina %}


{% block content %}
<div class="container-x" id="move-content">
    <div class="container-tabla-recorridos">
        <div class="container-recorridos">
            <h1>Mis Productos</h1>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Imagen</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Tipo producto</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                {% if lista %}
                {% for c in lista %}
                <tbody>
                    <tr>
                        <div clas="img_tabla">
                            <td><img src="{{ c.producto.imagen.url }}" alt="no se encontro la imagen" width="50" height="50">
                            </td>
                        </div>
                        <td>{{ c.producto.nombre }}</td>
                        <td>$ {{ c.producto.precio }}</td>
                        <td>{{ c.producto.tipo_producto }}</td>
                        <td><a href="{% url 'vista_producto' c.producto.id %}" class="btn btn-primary"> Ver producto </a></td>
                        <td><a href="{% url 'borrar_deseo' c.id %}" class="btn btn-danger" onclick="confirmation();"> Borrar </a></td>
                    </tr>
                    <br>
                    {% endfor %}
                    {% else %}
                    <td>No hay registros de productos</td>
                    <td>No hay registros de productos</td>
                    <td>No hay registros de productos</td>
                    <td>No hay registros de productos</td>
                    <td>No hay registros de productos</td>
                    {% endif %}
            </table>
        </div>
    </div>
</div>



{% endblock content %}